<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>What's this project about? It's an app that lets professionals find other professionals to date. Professionals that re interested in the same things.</p>