<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>This is the help page for the Date App application.</p>
<p>To talk to me directly, please email <a href="mailto:nathan@latelabs.com" >nathan@latelabs.com</a>.</p>